@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
//@import "~bootstrap-slider-basic/sass/_bootstrap-slider.scss";

body {
  background-color: #d8d6db;
  padding-top: 54px;
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.form-margin-bottom {
  margin-bottom: 30px;
}

.search h3 {
  padding: 10px 0 10px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  color: white;
}
.bg-violet {
  background-color: rgba(51,51,103,0.77)
}

@import "./property.scss";
@import "./tag.scss";
