{% extends 'adminBase.html.twig' %}


{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Jauns īpašums</h1>
            </div>
            <div class="card-body">
                <form action="{{ path('save') }}" method="post" enctype="multipart/form-data" id="new_estate" novalidate>
                    <div class="form-group">
                        <label>Pilsēta</label>
                        <input type="text" class="form-control" id="city" name="city">
                    </div>
                    <div class="form-group">
                        <label>Rajons</label>
                        <input type="text" class="form-control" id="city_area" name="city_area">
                    </div>
                    <div class="form-group">
                        <label>Iela</label>
                        <input type="text" class="form-control" id="street" name="street">
                    </div>
                    <div class="form-group">
                        <label>Mājas numurs</label>
                        <input type="text" class="form-control" id="street_number" name="street_number">
                    </div>
                    <div class="form-group">
                        <label>Google kartes īpašuma koordinātes</label>
                        <input type="text" class="form-control" id="google_coordinates" name="google_coordinates">
                    </div>
                    <div class="form-group">
                        <label>Īpašuma veids</label>
                        <input type="text" class="form-control" id="property_type" name="property_type">
                    </div>
                    <div class="form-group">
                        <label>Cena</label>
                        <input type="text" class="form-control" id="price" name="price">
                    </div>
                    <div class="form-group">
                        <label>Platība</label>
                        <input type="text" class="form-control" id="area" name="area">
                    </div>
                    <div class="form-group">
                        <label>Istabu skaits</label>
                        <input type="text" class="form-control" id="rooms" name="rooms">
                    </div>
                    <div class="form-group">
                        <label>Stāvs</label>
                        <input type="text" class="form-control" id="floor" name="floor">
                    </div>
                    <div class="form-group">
                        <label>Darijuma veids</label>
                        <input type="text" class="form-control" id="deal_type" name="deal_type">
                    </div>
                    <div class="form-group">
                        <label>Apraksts</label>
                        <textarea class="form-control" id="description" rows="5" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="images">Attēli</label>
                        <input type="file"  id="images" name="images[]" multiple/>
                    </div>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary mb-2">Pievienot īpašumu</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
